<html>
    <head>
        <meta charset="UTF-8" />
        <title>Работа с CSS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .large{
                font-size: 50px;
            }
        </style>
    </head>
    <body>

        <div id='app'>
            <div class="container">
                <h1>{{ title }}</h1>
                <button v-bind:class="[sizeToggle ? 'large' : '', {'rounded': isRounded}]"
                        v-bind:style="styles"
                        v-bind:disabled="disabled">START</button>
                <ul>
                    <li><input type="checkbox" v-model="sizeToggle"><label for="">Увеличить шрифт</label></li>
                    <li><input type="checkbox" v-model="isRounded"><label for="">Округлить</label></li>
                    <li><input type="checkbox" v-model="disabled"><label for="">Disabled</label></li>
                    <li><input type="text" v-model="fontColor"></li>
                    <li><input type="text" v-model="backgroundColor"></li>
                </ul>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>